configuration {
    modi: "run,drun";
    font: "JetBrains Mono Nerd Font 8";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "qterminal";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-Network: " 󰤨  Network";
    sidebar-mode: true;
}

@theme "~/.dotfiles/rofi/catppuccin-mocha.rasi"
